page-login {

  .login-content{
   /* background-color:  color($colors,app);*/
    background-image: url('../assets/bg.png');
  }

  .label-logo{
    color: white;
    font-size: 300%;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
    font-family: cursive;
  }

  .label-description{
    color: white;
    font-size: 130%;
    text-align: center;
  }

 /* .top-row{
    height: 80%;
  }*/

  /*.bottom-row{
    height: 20%;

  }*/

  .bottom-row{
    vertical-align: middle;
    top: 40%;
    margin-top: 5%;
    background: #fff;
    padding: 25px;
  }

  .mBottom{
    margin-bottom: 15px;
  }

}
