<ion-header>
  <ion-toolbar color="app">
    <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      You Can do...
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content padding>
<div *ngIf="types.length ==0" class="no-more-item">
    <h6>Please select your interest first.</h6>
    <button style="padding: 10px" (click)="goTo('AddMoreIntPage')"> Add Interest</button>
</div>
<!-- <ion-list>
        <ion-item *ngFor='let value of locations; trackBy: index;' (click)="viewList(value)">
        	<ion-icon  item-start>
        		<img src="{{value.icon}}" style="width: 25px">
        	</ion-icon>
        	{{value.name}}<br>
             {{value.distance}} Km<br>
        	{{value.type}} {{value.lat}} , {{value.lng}} 
        	
        </ion-item>
    </ion-list> -->

<ion-list>
    <ion-item *ngFor='let value of locations; trackBy: index;' (click)="viewList(value)">
    <ion-avatar item-start>
      <img src="{{value.icon}}" style="width: 25px">
    </ion-avatar>
    <h2>{{value.name}} ({{value.type}}) </h2>
    <h3>{{value.distance}} Km</h3>
    <p>{{value.lat}} , {{value.lng}} </p>
  </ion-item>
</ion-list>

</ion-content>
